ipykernel
langchain
python-dotenv
langchain-google-genai
langchain_community
faiss-cpu
fastapi
streamlit
uvicorn
transformers
beautifulsoup4
google-generativeai
langchain-groq
langchain-chroma
arxiv
wikipedia
sentence-transformers
mysql-connector-python
SQLAlchemy
pypdf
validators
youtube_transcript_api
unstructured
pytube
numexpr
duckduckgo-search
langchain-openai
openai
yt_dlp
langchain-groq

